input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 216, 212);
    box-shadow: 5px 3px 4px rgb(219, 216, 212);
    margin-left: 1rem;
}

input:focus{
     border-bottom: solid 3px #000 ;
     outline: none;
}

input[type="submit"]{
    padding: 10px 15px;
    background-color: black;
     color: #fff;

}